<div class="contact-wrapper">


    <div class="contact-content">

        <div class="text-container">

            <h3 class="container-headers --primary-color">Contact me</h3>
            <h2 class="container-headers-inside --primary-color">Let's work together</h2>
            <p class="container-text-large-primary-color">Got a problem to solve?</p>
            <p class="container-text-small">Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work.</p>
            <span class="container-text-small">Need a Frontend developer?</span>
            <span class="--primary-color"> Let's talk!</span>
            
        </div>

        <div class="contact-container">

            <div class="name-container">

                <p class="container-text-large --primary-color" >What your name?</p>
                <input type="text" placeholder="your name goes here">
            </div>

            <div class="email-container">

                <p class="container-text-large --primary-color">Whats your email?</p>
                <input type="text" placeholder="youre.email@enterhere.com">
            </div>

            <div class="help-container">

                <p class="container-text-large --primary-color">How can I help you?</p>
                <input type="text" placeholder="hello my name is Matthias, I'm interested in">
            </div>

            <div class="checkbox-container">

                <input type="checkbox" id="checkbox" name="checkbox">
                <label for="checkbox">I agree to the <a href="#">privacy policy</a></label>
                <p> and agree to the processing of my data as outlined.</p>
            </div>

            <div class="hello-container">
                <button>Say Hello :)</button>
            </div>



        </div>

    </div>
</div>