.contact-wrapper {

    display: flex;
    justify-content: center;
    height:100vh;
}

.contact-content {

    max-width:1440px;
    width:100%;
    margin: 0px 96px;
    color:var(--text-color);
    display: flex;

    >.text-container {

        max-width:560px;
        width:100%;
    }

    >.contact-container {

        max-width:560px;
        width:100%;

        >.name-container,
        .email-container,
        .help-container {

            border-top:2px solid var(--primary-color);
            border-bottom:2px solid var(--primary-color);

        >.contact-secondary-headlines {
            font-size:var(--font-size-navbar);
            color:var(--primary-color);
            
        }

        }

      
    
    }

   
}



