<div class="contact-wrapper">


    <div class="contact-content">

        <div class="text-container">

            <h3>Contact me</h3>
            <h2>Let's work together</h2>
            <p><strong>Got a problem to solve?</strong></p>
            <p>Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work.</p>
            <p>Need a Frontend developer? <strong>Let's talk!</strong></p>
            
        </div>

        <div class="contact-container">

            <div class="name-container">

                <p class="contact-secondary-headlines">What your name?</p>
                <input type="text" placeholder="your name goes here">
            </div>

            <div class="email-container">

                <p class="contact-secondary-headlines">Whats your email?</p>
                <input type="text" placeholder="youre.email@enterhere.com">
            </div>

            <div class="help-container">

                <p class="contact-secondary-headlines">How can I help you?</p>
                <input type="text" placeholder="hello my name is Matthias, I'm interested in">
            </div>

            <div class="checkbox-container">

                <input type="checkbox" id="checkbox" name="checkbox">
                <label for="checkbox">I agree to the <a href="#">privacy policy</a></label>
                <p> and agree to the processing of my data as outlined.</p>
            </div>

            <div class="hello-container">
                <p>Say Hello :)</p>
            </div>



        </div>

    </div>
</div>