<div class="contact-wrapper" id="contact">
  <div class="contact-content">
    <div class="text-container">
      <h3 class="container-headers --primary-color">Contact me</h3>
      <span class="container-headers-inside --primary-color">Let's work</span>
      <span class="container-headers-inside --primary-color"
        ><br />together</span>
      <p class="container-text-large --primary-color">
        Got a problem to solve?
      </p>
      <p class="container-text-small">
        Encourage people to contact you and describe what role you are
        interested in. Show that you will add value to their projects through
        your work.
      </p>
      <span class="container-text-large">Need a Frontend developer?</span>
      <span class="container-text-large --primary-color"> Let's talk!</span>
    </div>

    <div class="contact-container">

      <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="name-contact-form">
            <label class="container-text-large --primary-color" for="name">what's youre name?</label>
            <input #name = "ngModel" [(ngModel)]="contactData.name"  type="text" id="name" name="name" placeholder="your name goes here" required />
            @if (!name.valid && name.touched){

              <span>enter name please</span>
      
            }
        </div>
        <div class="email-contact-form">
      
            <label class="container-text-large --primary-color" for="email">what's youre e-mail?</label>
            <input #email = "ngModel"[(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="youre.email@enterhere.com" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />
            @if (!email.valid && email.touched){

              <span>enter email please</span>
      
            }
        </div>
        <div class="message-contact-form">
          
            <label class="container-text-large --primary-color" for="message">How can I help you?</label>
            <textarea #message = "ngModel" [(ngModel)]="contactData.message" id="message" name="message" placeholder="hello my name is Matthias, I'm interested in" required ></textarea>
            @if (!message.valid && message.touched){

              <span>enter message please</span>

          }
         </div>
          <input class="--primary-color" type="submit" value="Submit :)"  />
      </form>
    </div>

    <!-- <div class="contact-container">
      <div class="name-container">
        <p class="container-text-large --primary-color">What your name?</p>
        <input
          class="input-txt"
          type="text"
          placeholder="your name goes here"
        />
      </div>

      <div class="email-container">
        <p class="container-text-large --primary-color">Whats your email?</p>
        <input
          class="input-txt"
          type="text"
          placeholder="youre.email@enterhere.com"
        />
      </div>

      <div class="help-container">
        <p class="container-text-large --primary-color">How can I help you?</p>
        <input
          class="input-txt"
          type="text"
          placeholder="hello my name is Matthias, I'm interested in"
        />
      </div>

      <div class="checkbox-container">
        <input type="checkbox" class="checkbox" id="checkbox" name="checkbox" />
        <label for="checkbox">
          I agree to the
          <a class="container-text-small --primary-color" href="#">privacy policy</a></label >
          <p>and agree to the processing of my data as outlined.</p>
      </div>

      <div class="hello-container">
        <button class="main-btns">Say Hello :)</button>
      </div>
    </div> -->
  </div>
</div>
