.contact-wrapper {

    display: flex;
    justify-content: center;
    height:100vh;
}

.contact-content {

    max-width:1440px;
    width:100%;
    margin: 0px 96px;
    color:var(--text-color);
    display: flex;
    justify-content: space-between;

    >.text-container {

        max-width:560px;
        width:100%;
    }

    >.contact-container {

        max-width:560px;
        width:100%;

        >.help-container {

            border-bottom:1px solid var(--primary-color);
            padding-bottom:24px;
        }

        >.name-container,
        .email-container,
        .help-container
         {

            border-top:2px solid var(--primary-color);
            margin-bottom:48px;
            padding-left:48px;

        >.contact-secondary-headlines {
            font-size:var(--font-size-navbar);
            color:var(--primary-color);
            
        }

        }
        input {
            all: unset;
        }

        input::placeholder {

            color:white;
        }
    
        .checkbox-container {

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hello-container {

            display: flex;
            justify-content: center;
            align-items: center;
             
        }
    }

   
}



