.footer-wrapper {

    display: flex;
    justify-content: center;
    padding-top:160px;
    
}

.footer-content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    max-width:1440px;
    width:100%;
    margin: 0px 96px;

    >.left-container-footer {


      

    }

    >.middle-container {

        display: flex;
        justify-content: center;
        align-items: center;

        >.logo img{

            height:160px;
            width:160px;
        }



    }
 

}
   
   