<div class="footer-wrapper">

    <div class="footer-content">

        <div class="left-container-footer">
            <p>LOGO</p>
            <p>Web Developer</p>
            <p>Berlin, Germany</p>
        </div>

        <div class="middle-container">
            <p>© Matthias E. 2025</p>
        </div>


        <div class="right-container-footer">
            <p>Github</p>
            <p>Legal Notice</p>
            <p>Email</p>
            <p>Legal Notice</p>
        </div>
    </div>
</div>