.footer-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 160px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 1440px;
  width: 100%;
  margin: 0px 96px;

  @media (max-width: 900px) {
    margin: 16px;
  }

  > .left-container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-left-side img {
      height: 160px;
      width: 160px;
      display:none;

       @media (max-width: 900px) {
      display: block;
    }
    }

  }

  > .middle-container {
    display: flex;
    justify-content: center;
    align-items: center;

    > .logo img {
      height: 160px;
      width: 160px;
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  > .right-container-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }
}

.bottom-container {

    display:none;
    max-width:900px;
    width:100%;
    text-align: center;
    @media (max-width: 900px) {
     display:block;

    }
}
.social-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    color: var(--primary-color);
    transform: scale(1.1);
  }

  &:hover::after {
    opacity: 1;
  }
}
