<div class="footer-wrapper">
  <div class="footer-content">
    <div class="left-container-footer">
      <span class="logo-left-side"
        ><img src="assets/icons-above-the-fold/logo/logo.png" alt=""/></span>
      <p class="container-text">Web Developer</p>
      <p class="container-text">Berlin, Germany</p>
    </div>

    <div class="middle-container">
      <span class="container-text-large">© Matthias E. 2025</span>
      <span class="logo"
        ><img src="assets/icons-above-the-fold/logo/logo.png" alt=""
      /></span>
    </div>

    <div class="right-container-footer">
      <p class="container-text">Github</p>
      <a class="container-text" href="assets/legal-notice">Legal Notice</a>
      <p class="container-text">Email</p>
    </div>
  </div>
</div>

<div class="bottom-container">
  <span class="container-text-large">© Matthias E. 2025</span>
</div>
