.footer-wrapper {

    display: flex;
    justify-content: center;
    padding-top:160px;
    
}

.footer-content {

    display: flex;
    justify-content: space-between;
    color:white;
    max-width:1440px;
    width:100%;
    margin: 0px 96px;

}
   
   