.above-the-fold-wrapper {
    color: var(--text-color);
    height: 100vh;
    margin: 0px 96px;
    display: flex;
    justify-content: center;
}

.above-the-fold-content {

    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height:100vh;
    
    

    .header-text {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:176px;
        
        
        h2 {
            font-size: var(--font-size-h2);
        }

        h1 {
            font-size: var(--font-size-h1);
            margin-top:0;
         
        }

        >.header-buttons {
            display: flex;
            gap: 24px;
        }

    }

    .right-side-content-above-the-fold {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:24px;
        padding-top:360px;
       

        p {
            writing-mode: vertical-rl; 
            text-orientation: mixed; 
            transform: rotate(180deg); 
            font-size: var(--font-size-text-large);
        }

        >.deco-line-right {

            width: 2px;
            height: 180px;
            background-color: var(--text-color);
        }
    }

    .left-side-content-above-the-fold {

        padding-top:560px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:16px;

    

        >.deco-line-left {

            width: 2px;
            height: 240px;
            background-color: var(--primary-color);

        }

    }

  
}