<div class="above-the-fold-wrapper">
  <div class="above-the-fold-content">
    <div class="left-side-content-above-the-fold">
      <svg
        class="arrow-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <polyline points="19 12 12 19 5 12"></polyline>
      </svg>
      <div class="deco-line-left"></div>
    </div>

    <div class="header-text">
      <h2>{{ "header.title" | translate }}</h2>
      <h1>Matthias Eickenhorst</h1>

      <div class="header-buttons">
        <button class="main-btns">
          <a href="#projects"><span>{{ "header.checkWork" | translate }}</span></a>
        </button>
        <button class="main-btns">
          <a href="#contact"><span>{{ "header.contactMe" | translate }}</span></a>
        </button>
      </div>

      <div class="slider">
        <div class="slider-content">
          <p>{{ "slider.availableRemote" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.frontendDeveloper" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.basedBerlin" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.openToWork" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.availableRemote" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.frontendDeveloper" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.basedBerlin" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.openToWork" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.availableRemote" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.frontendDeveloper" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.basedBerlin" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.openToWork" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.availableRemote" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.frontendDeveloper" | translate }}</p>
          <p class="slider-devider-dots">•</p>
          <p>{{ "slider.basedBerlin" | translate }}</p>
        </div>
      </div>
    </div>

    <div class="right-side-content-above-the-fold">
      <p class="email-sideways container-text">m.hrst94e&#64;gmail.com</p>
      <img class="mail-icon" src="assets/icons-above-the-fold/mail.png" alt="" />
      <a href="https://github.com/matt-e-dev">
        <img src="assets/icons-above-the-fold/github.png" alt="" />
      </a>
      <img src="assets/icons-above-the-fold/linkedin.png" alt="" />
      <div class="deco-line-right"></div>
    </div>
  </div>
</div>
