.above-the-fold-wrapper {
  color: var(--text-color);
  height: 100vh;
  padding: 0px 96px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    100deg,
    var(--background-color-black),
    var(--background-color-green)
  );
}


.above-the-fold-content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100vh;

  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 176px;

    h2 {
      font-size: clamp(1.2rem, 4vw, 3.5rem);
      font-family: "FiraCode";
    }

    h1 {
      font-size: clamp(2.5rem, 8vw, 8rem);
      font-family: "Karla";
      margin-top: 0;
      text-align: center;
    }

    .header-buttons {
      display: flex;
      gap: 24px;
    }
  }

    .right-side-content-above-the-fold {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    gap: clamp(16px, 3vh, 32px);

    .mail-icon {
      display: none;
      @media (max-width: 1100px) {
        display: block;
      }
    }

    .email-sideways {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      font-size: var(--font-size-text-large);
      font-family: "FiraCode";
      cursor: pointer;
      font-size: 16px;

      &:hover {
        transform: scale(1.1);
        color: var(--primary-color);
      }
      @media (max-width: 1100px) {
        display: none;
      }
    }

    > .deco-line-right {
      width: 2px;
      height: clamp(160px, 20vh, 280px);
      background-color: var(--text-color);
    }

    .social-link {
      position: relative;
      display: inline-block;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        background-color: var(--primary-color);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover::after {
        opacity: 1;
      }

      img {
        display: block;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.33);
        }
      }
    }
  }

  .left-side-content-above-the-fold {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    gap: clamp(12px, 2vh, 24px);

    > .deco-line-left {
      width: 2px;
      height: clamp(120px, 18vh, 260px);
      background-color: var(--primary-color);
    }

    .arrow-icon {
      width: 20px;
      height: 60px;
      border: 2px solid var(--primary-color);
      border-radius: 24px;

      line,
      polyline {
        stroke: var(--text-color);
        animation: bounce-arrow 1.5s infinite;
      }
    }

    @keyframes bounce-arrow {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(5px);
      }
    }
  }
  .slider {
    background-color: rgba(255, 255, 255, 0.089);
    position: absolute;
    bottom: 80px;
    height: 60px;
    width: 100%;
    max-width: 1920px;
    transform: rotate(-5deg);
    overflow: hidden;

    .slider-content {
      display: flex;
      align-items: center;
      height: 100%;
      width: max-content;
      animation: scroll 20s linear infinite;

      p {
        color: var(--primary-color);
        font-size: 32px;
        font-weight: 400;
        white-space: nowrap;
        padding: 0 24px;
      }

      .slider-devider-dots {
        font-weight: 700;
      }
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-50%));
      }
    }
  }
}

@media (max-width: 1400px) {
  .above-the-fold-wrapper {
    padding: 24px;
  }
}

@media (max-width: 1300px) {
  .left-side-content-above-the-fold {
    padding-bottom: 3vh;
  }

  .right-side-content-above-the-fold {
    padding-bottom: 3vh;
  }
}

@media (max-width: 600px) {
  .header-buttons {
    display: flex;
    flex-direction: column;
  }
}
