.navbar-wrapper {

    color: var(--text-color);    
    display: flex;
    justify-content: center; 
    background: linear-gradient(100deg, var(--background-color-black), var(--background-color-green));
    
}

.navbar {

    max-width:1440px;
    width:100%;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;

    >nav {

        display: flex;
        gap: 24px;

        a {
            color: var(--text-color);     
            
        }
    }
   
}

