<div class="navbar-wrapper">

    <div class="navbar">

        <nav>
            <div class="toggle-button">
                <button class="toggle-option active">EN</button>
                <button class="toggle-option">DE</button>
            </div>
            <a class="container-text-large" href="#about-me">About Me</a>
            <a class="container-text-large" href="#skills">Skills</a>
            <a class="container-text-large" href="#projects">Projects</a>
        </nav>

       <div class="logo-wrapper">

        <div class="hand-logo-wrapper">
            <img class="hand-logo d-none" src="assets/icons-above-the-fold/logo/hand-wave2.png" alt="">
        </div>

        <div class="logo-and-mouth">

          
            <div class="logo"
              (mouseenter)="handleLogoHover()" 
              (mouseleave)="handleLogoMouseLeave()">
              <img src="assets/icons-above-the-fold/logo/logo.png" alt="">
              
            </div>
           
            <p class="mouth d-none">)</p>
           
          </div>

          

        </div>
        
    </div>
</div>
