.projects-wrapper {
  position: relative;
  display: flex;
  justify-content: center;

}

.projects-content {
  max-width: 1440px;
  width: 100%;
  margin: 0px 96px;
  color: var(--text-color);
  

  .left-right-side-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow:hidden;

     @media (max-width: 1360px) {
      flex-direction: column;
      align-items: center;
     
    }
   
    .left-side-projects-wrapper {
      display: flex;
      flex-direction: column;
      height:600px;
      max-width:800px;
      width:100%;

       @media (max-width: 1360px) {
           padding:8px;
        }


      .project-card {
        display: flex;
        width: 880px;

       
        .project-card-text {
          max-width: 880px;
          width: 100%;
          border-top: 2px solid var(--primary-color);
          border-bottom: 2px solid var(--primary-color);
          height: 104px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-width: 310px;

           @media (max-width: 1360px) {
          
            display: flex;
            flex-direction: column;
            align-items: unset !important;
            margin:0 auto;
          
        }

          &:hover {
            background-color: var(--background-color-green);
          }

          .arrow-hover {
            height: 24px;
            width: 24px;
          }
        }

       
      }
    }
  }
}

.right-side-container {
  height:600px;
  width: 260px;
  display:flex;
  justify-content: center;;
  align-items: flex-end;
  margin-bottom:240px;

  @media (max-width: 1360px) {
    margin-bottom: 0px;
    display:none;
  }

  .project-card-img {
    height: 200px;
    width: 260px;

    img {
      width: 260px;
      height: 180px;
      transition: transform 0.3s ease; 

      &:hover {
        transform: scale(1.1); 
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  

.overlay-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #1c1c1c, #08463b4d);
  padding: 32px;
  border-radius: 8px;
  height: auto;
  max-width: 1200px;
  min-width:300px;
  width: 100%;
  transition: top 250ms;
  width: 100%;
  border-radius: 8px;
  margin:16px;



  @media (max-width: 1000px) {
    flex-direction: column-reverse; 
    width: 600px;
    height: auto;

  
  }

  @media (max-width: 500px) {
    width: 100%;
    height: auto;
    padding: 16px;
    margin:0px;
    
  }

}

.description-side-overlay {

  max-width:400px;
  width: 100%;
 


}
    
   .img-side-overlay {
    max-width:400px;
    width: 100%;
    height:auto;
    gap: 80px;
    display: flex;
    flex-direction: column;
   

    @media (max-width: 1000px) {
      gap:24px;
    }

    img {
      width: 100%;
      height: auto;
      max-width: clamp(120px, 60vw, 400px);   
      max-height: clamp(90px, 45vw, 300px);   
      transition: transform 0.3s ease;

      &:hover {
          transform: scale(1.1);
      }
  
      
      @media (max-width: 400px) {
        max-width: 160px;
        max-height: 120px; // 4:3 ratio
      }
    }
    
  }

  .close-btn-wrapper {

    max-width:400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;;

    .close-btn {
   
      width: 24px;
      height: 24px;
      font-size: 32px;
      color: var(--text-color);
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer;
      padding-right: 24px;
    }
  
    .close-btn:hover {
      color: var(--primary-color);
      transform: scale(1.3);
    }
  }



  .next-project-btn-responsive{
    color: var(--primary-color);
    font-size: clamp(var(--font-size-text-large-responsive), 2.5vw, var(--font-size-text-large));
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    display:none;

    @media (max-width: 1000px) {
      display: block;
      margin-top:24px;
      
    }
  }

  .next-project-btn-default{
    color: var(--primary-color);
    font-size: clamp(var(--font-size-text-large-responsive), 2.5vw, var(--font-size-text-large));
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    display:block;

    @media (max-width: 1000px) {
      display: none;
      
    }
  }

  .question {
    font-size: var(--font-size-text-xlarge);
    margin: 0;
    color: var(--primary-color);
    margin: 32px 0;

    @media (max-width: 500px) {
      margin:4px;
    }
  }

  .links {
    display: flex;
    gap: 48px;
    margin-top: 32px;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}

