<div id="projects" class="projects-wrapper">

    <div class="projects-content">

        <h3>Portfolio</h3>
        <h2>Featured Projects</h2>
        <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>

        <div class="projects">

            <div class="join">

                <h4>JOIN</h4>
                <p>Angular | TypeScript | HTML | CSS | Firebase</p>

            </div>

            <div class="el-pollo-loco">

                <h4>El Pollo Loco</h4>
                <p>JavaScript| HTML | CSS</p>
                
            </div>
        </div>
    </div>
</div>