.projects-wrapper {
    position: relative; 
    display: flex;
    justify-content: center;
    height: 100vh;
}

.projects-content {

    max-width:1440px;
    width:100%;
    margin: 0px 96px;
    color:var(--text-color);
   
.project-card {

    max-width:880px;
    width:100%;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    height:104px;
    display: flex;
    align-items: center;
    gap:440px;

}

}

.project-card :hover {

    background-color: var(--primary-color);
}


.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    color: white;
}

.overlay-content {
    background-color: #222; 
    padding: 32px;
    border-radius: 8px;
    height:60vh;
    max-width: 1200px;
    width: 100%;
    display:flex;
}


