.about-me-wrapper {

    display: flex;
    justify-content: center;
    height:100vh;
}

.about-me-content {

    max-width:1440px;
    width:100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 96px;
   

        >.picture-container {

            height:560px;
            max-width:560px;
            width:100%;
            border:2px solid var(--primary-color);
            border-radius:16px;
        }

        .info-container-wrapper {

            margin-top:160px;


            >.info-container {

                
                height:560px;
                max-width:560px;
                width:100%;
                border:2px solid var(--primary-color);
                border-radius:16px;
                padding: 0px 40px;
                background-color: var(--background-color-green-containers);
                
            }

        }

      

    }
