<div id="about-me" class="about-me-wrapper">
  <div class="about-me-content">
    <div class="left-side-container">
      <div class="picture-container">
        <img src="assets/imgs/profile.jpg" alt="">
      </div>

      <div class="picture-deco-container"></div>
    </div>

    <div class="info-container-wrapper">
      <p class="container-headers --primary-color">Who I am</p>
      <div class="info-container">
        <h2 class="container-headers-inside --primary-color">About Me</h2>

        <p class="container-text">
          Hey there, I'm Matthias! Write some information about yourself that is IT
          related. Why are you passionate about coding? What is your source of
          inspiration for improving your programming skills?
        </p>
        <div class="container-text-small">
          <div class="info-container-text">
            <span><img src="assets/icons/about-me/location.png" alt="" /></span>
            <span
              >Where are you based? Would you be open to working remotely or
              potentially relocating?</span
            >
          </div>
          <div class="info-container-text">
            <span
              ><img src="assets/icons/about-me/cognition.png" alt=""
            /></span>
            <span
              >Show that you are open-minded. Are you enthusiastic about
              learning new technologies and continually improving your
              skills?</span
            >
          </div>
          <div class="info-container-text">
            <span><img src="assets/icons/about-me/check.png" alt="" /></span>
            <span
              >A brief description of your problem-solving approach. Do you
              learn from each challenge as you search for the most efficient or
              elegant solution? You can include some keywords like: analytical
              thinking, creativity, persistence, and collaboration.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
