.about-me-wrapper {

    display: flex;
    justify-content: center;
    height:100vh;
    padding-top:48px;
}

.about-me-content {

    max-width:1440px;
    width:100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 96px;
    
   

    .left-side-container {
        height: 560px;
        max-width: 560px;
        width: 100%;
        border: 2px solid var(--primary-color);
        border-radius: 16px;
        position: relative;
    
        .picture-deco-container {
            width: 105%; 
            height: 105%; 
            border-radius: 16px;
            background: repeating-linear-gradient(
                45deg,
                transparent,
                transparent 30px, 
                var(--primary-color) 30px,
                var(--primary-color) 32px 
            );
            position: absolute;
            top: 0;
            left: 0;
        }
    
        
    }

        .info-container-wrapper {

            margin-top:160px;


            >.info-container {

                
                height:560px;
                max-width:560px;
                width:100%;
                border:2px solid var(--primary-color);
                border-radius:16px;
                padding: 32px;
                background-color: var(--background-color-green-containers);

                h2 {
                    margin:0;
                }
                
            }

            .info-container-text {

                display: flex;
                padding-bottom:20px;
                gap:20px;

                &:hover {

                    color:rgb(255, 255, 255);
                }
            }

        }

      

    }

   


