<div id="about-me" class="about-me-wrapper">

    <div class="about-me-content ">

            <div class="picture-container">

            </div>

            <div class="info-container-wrapper">
                <p class="container-headers">Who I am</p>
                <div class="info-container">
                    <h2>About Me</h2>

                    <p>Hey there, I'm Lukas! Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?</p>
                    <ul>
                        <li>Where are you based? Would you be open to working remotely or potentially relocating?</li>
                        <li>Show that you are open-minded. Are you enthusiastic about learning new technologies and continually improving your skills?</li>
                        <li>A brief description of your problem-solving approach. Do you learn from each challenge as you search for the most efficient or elegant solution? You can include some keywords like: analytical thinking, creativity, persistence, and collaboration.</li>
                    </ul>
                </div>
        </div>


    </div>
</div>
