<div id="about-me" class="about-me-wrapper">
  <div class="about-me-content">
    <div class="left-side-container">
      <div class="picture-container">
        <img src="assets/imgs/about-me-img.png" alt="">
      </div>

      <div class="picture-deco-container"></div>
    </div>

    <div class="info-container-wrapper">
      <p class="container-headers --primary-color">{{ 'aboutMe.title' | translate }}</p>
      <div class="info-container">
        <h2 class="container-headers-inside --primary-color">{{ 'aboutMe.subtitle' | translate }}</h2>

        <p class="container-text">
          {{ 'aboutMe.description' | translate }} <br> <br>
          {{ 'aboutMe.description2' | translate }}
        </p>
        <div class="container-text-small">
          <div class="info-container-text">
            <span><img src="assets/icons/about-me/location.png" alt="" /></span>
            <span>{{ 'aboutMe.location' | translate }}</span>
          </div>
          <div class="info-container-text">
            <span><img src="assets/icons/about-me/cognition.png" alt="" /></span>
            <span>{{ 'aboutMe.mindset' | translate }}</span>
          </div>
          <div class="info-container-text">
            <span><img src="assets/icons/about-me/check.png" alt="" /></span>
            <span>{{ 'aboutMe.learning' | translate }} <br><br>
              {{ 'aboutMe.blogEntry' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
