.skills-wrapper {

    display: flex;
    justify-content: center;
    
}

.skills-content {

    max-width:1440px;
    width:100%;
    margin: 0px 96px;
    display: flex;
    justify-content: space-between;
    margin: 0px 96px;

    .text-container-wrapper {

        >.skills-text-container{

            height:520px;
            max-width:520px;
            width:100%;
            border:2px solid var(--primary-color);
            border-radius:16px;
            color:var(--text-color);
            background-color: var(--background-color-green-containers);
            padding:24px;

            h2 {
                margin:0;
            }

            .skills-contact-p {
              
                padding:12px 0px;   
            }
            
            .extra-white-space {

                margin-right:16px;
            }

        }

        

    }

    >.skills-icons-container {
        height: 546px;
        max-width: 640px;
        width: 100%;
        margin-top:72px;
        font-size:var(--font-size-text);
        color:var(--text-color);
        font-family: 'firaCode';

    
        .skills-row {
            display: flex; 
            justify-content: space-between; 
            margin-bottom: 16px; 
        }
    
        .skills {
            text-align: center; 
            max-width: 120px; 
            flex: 1; 
        }
    
        .skills img {
            max-width: 100%;
            height: auto;

            &:hover {
                transform: scale(1.3);
                transition: transform 0.3s ease;
            }
        }
    }

   

       


    


}