<div id="skills" class="skills-wrapper">
  <div class="skills-content">
    <div class="text-container-wrapper">
      <p class="container-headers --primary-color">Technologies</p>

      <div class="skills-text-container">
        <h2 class="container-headers-inside --primary-color">Skill Set</h2>
        <p class="container-text">
          Through my training in frontend development at Developer Akademie,
           I gained practical experience with core technologies such as HTML, CSS, JavaScript, and Angular, along with tools like version control (Git/GitHub)
            and responsive design best practices. I enjoy building user-friendly and visually appealing interfaces that bring ideas to life. <br> <br>

          At the same time, I understand how quickly the web development landscape evolves, 
          so I make it a priority to continually learn and adapt — whether that’s diving deeper into modern frameworks, 
          exploring new frontend tools, or improving my workflow. Staying curious and open-minded helps me not only keep up with rapid changes 
          in the industry but also grow into a more versatile developer.
        </p>
        <span class="skills-container-text-large extra-white-space">You</span>
        <span
          class="skills-container-text-large --primary-color extra-white-space"
          >need</span
        >
        <span class="skills-container-text-large extra-white-space"
          >another</span
        >
        <span
          class="skills-container-text-large --primary-color extra-white-space"
          >skill</span
        >
        <span
          class="skills-container-text-large --primary-color extra-white-space"
          >?</span
        >
        <p class="skills-contact-p container-text-small">
          Feel free to contact me. I look forward to expanding on my previous
          knowledge.
        </p>
        <button class="main-btns">
          <a href="#contact"><span>Let's talk</span></a>
        </button>
      </div>
    </div>

    <div class="skills-icons-container">
      <div class="skills-row" *ngIf="!isSmallScreen">
        <div *ngFor="let skill of skills.slice(0, 4)" class="skills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <p>{{ skill.name }}</p>
        </div>
      </div>
      <div class="skills-row" *ngIf="!isSmallScreen">
        <div *ngFor="let skill of skills.slice(4, 8)" class="skills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <p>{{ skill.name }}</p>
        </div>
      </div>
      <div class="skills-row" *ngIf="!isSmallScreen">
        <div *ngFor="let skill of skills.slice(8)" class="skills">
          <div class="skill-container">
            <img
              [src]="skill.icon"
              [alt]="skill.name"
              (click)="onSkillClick(skill.name)"
            />
            <p>{{ skill.name }}</p>
          </div>
        </div>
        <div class="skills growth-container">
          <div class="skill-container">
            <img src="assets/icons/growth-mindset.png" alt="Growth Icon" />
            <p>Growth mindset</p>
          </div>
          <div class="overlay">
            <img src="assets/icons/hover-growth.png" alt="Growth Overlay" />
          </div>
        </div>
      </div>

      <!-- For small screens -->
      <div class="skills-row" *ngIf="isSmallScreen">
        <div *ngFor="let skill of skills.slice(0, 3)" class="skills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <p>{{ skill.name }}</p>
        </div>
      </div>
      <div class="skills-row" *ngIf="isSmallScreen">
        <div *ngFor="let skill of skills.slice(3, 6)" class="skills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <p>{{ skill.name }}</p>
        </div>
      </div>
      <div class="skills-row" *ngIf="isSmallScreen">
        <div *ngFor="let skill of skills.slice(6, 9)" class="skills">
          <div class="skill-container">
            <img
              [src]="skill.icon"
              [alt]="skill.name"
              (click)="onSkillClick(skill.name)"
            />
            <p>{{ skill.name }}</p>
          </div>
        </div>
      </div>
      <div class="skills-row" *ngIf="isSmallScreen">
        <div *ngFor="let skill of skills.slice(9, 12)" class="skills">
          <div class="skill-container">
            <img
              [src]="skill.icon"
              [alt]="skill.name"
              (click)="onSkillClick(skill.name)"
            />
            <p>{{ skill.name }}</p>
          </div>
        </div>
      </div>
      <div
        class="skills-row-growth-responsive d-none"
        id="skillsRowGrowthResponsive"
      >
        <div class="skills growth-container-responsive">
          <div class="skill-container">
            <img src="assets/icons/growth-mindset.png" alt="Growth Icon" />
            <p>Growth mindset</p>
          </div>
          <div class="overlay-responsive">
            <img src="assets/icons/hover-growth.png" alt="Growth Overlay" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
