<div id="skills" class="skills-wrapper">
  <div class="skills-content">
    <div class="text-container-wrapper">
      <p class="container-headers --primary-color">{{ 'skills.title' | translate }}</p>

      <div class="skills-text-container">
        <h2 class="container-headers-inside --primary-color">{{ 'skills.subtitle' | translate }}</h2>
        <p class="container-text">
          {{ 'skills.description' | translate }} <br> <br>

          {{ 'skills.description2' | translate }}
        </p>
        <span class="skills-container-text-large extra-white-space">{{ 'skills.needSkill.you' | translate }}</span>
        <span
          class="skills-container-text-large --primary-color extra-white-space"
          >{{ 'skills.needSkill.need' | translate }}</span
        >
        <span class="skills-container-text-large extra-white-space"
          >{{ 'skills.needSkill.another' | translate }}</span
        >
        <span
          class="skills-container-text-large --primary-color extra-white-space"
          >{{ 'skills.needSkill.skill' | translate }}</span
        >
        <span
          class="skills-container-text-large --primary-color extra-white-space"
          >{{ 'skills.needSkill.question' | translate }}</span
        >
        <p class="skills-contact-p container-text-small">
          {{ 'skills.contactText' | translate }}
        </p>
        <button class="main-btns">
          <a href="#contact"><span>{{ 'skills.letsTalk' | translate }}</span></a>
        </button>
      </div>
    </div>

    <div class="skills-icons-container">
      <div class="skills-row" *ngIf="!isSmallScreen">
        <div *ngFor="let skill of skills.slice(0, 4)" class="skills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <p>{{ skill.name }}</p>
        </div>
      </div>
      <div class="skills-row" *ngIf="!isSmallScreen">
        <div *ngFor="let skill of skills.slice(4, 8)" class="skills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <p>{{ skill.name }}</p>
        </div>
      </div>
      <div class="skills-row" *ngIf="!isSmallScreen">
        <div *ngFor="let skill of skills.slice(8)" class="skills">
          <div class="skill-container">
            <img
              [src]="skill.icon"
              [alt]="skill.name"
              (click)="onSkillClick(skill.name)"
            />
            <p>{{ skill.name }}</p>
          </div>
        </div>
        <div class="skills growth-container">
          <div class="skill-container">
            <img src="assets/icons/growth-mindset.png" alt="Growth Icon" />
            <p>Growth mindset</p>
          </div>
          <div class="overlay">
            <div>I've got a special interest in learning react and vue.js</div>
          </div>
        </div>
      </div>

      <!-- For small screens -->
      <div class="skills-row" *ngIf="isSmallScreen">
        <div *ngFor="let skill of skills.slice(0, 3)" class="skills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <p>{{ skill.name }}</p>
        </div>
      </div>
      <div class="skills-row" *ngIf="isSmallScreen">
        <div *ngFor="let skill of skills.slice(3, 6)" class="skills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <p>{{ skill.name }}</p>
        </div>
      </div>
      <div class="skills-row" *ngIf="isSmallScreen">
        <div *ngFor="let skill of skills.slice(6, 9)" class="skills">
          <div class="skill-container">
            <img
              [src]="skill.icon"
              [alt]="skill.name"
              (click)="onSkillClick(skill.name)"
            />
            <p>{{ skill.name }}</p>
          </div>
        </div>
      </div>
      <div class="skills-row" *ngIf="isSmallScreen">
        <div *ngFor="let skill of skills.slice(9, 12)" class="skills">
          <div class="skill-container">
            <img
              [src]="skill.icon"
              [alt]="skill.name"
              (click)="onSkillClick(skill.name)"
            />
            <p>{{ skill.name }}</p>
          </div>
        </div>
      </div>
      <div
        class="skills-row-growth-responsive d-none"
        id="skillsRowGrowthResponsive"
      >
        <div class="skills growth-container-responsive">
          <div class="skill-container">
            <img src="assets/icons/growth-mindset.png" alt="Growth Icon" />
            <p>Growth mindset</p>
          </div>
          <div class="overlay-responsive">
            <img src="assets/icons/hover-growth.png" alt="Growth Overlay" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
