

.skills-wrapper {

    display: flex;
    justify-content: center;
    height:100vh;
}

.skills-content {

    max-width:1920px;
    width:100%;
    margin: 0px 96px;
    display: flex;
    justify-content: space-around;

    >.text-container {

        height:520px;
        max-width:520px;
        width:100%;
        border:2px solid var(--primary-color);
        border-radius:16px;
        color:var(--text-color);
        
    }

    >.picture-container {

        height:560px;
        max-width:640px;
        width:100%;
        border:2px solid red;
        border-radius:16px;
        
        >.skills-icons {

            display: flex;
            flex-wrap: wrap;
            gap:80px;
            color:var(--text-color);
            
            >img { 

                width:50px;
                height:50px;
            }
        }

        >.skills {

            width:200px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    }


    


}