<div id="skills" class="skills-wrapper">

    <div class="skills-content">

        <div class="text-container-wrapper">

            <p class="p-above-text-container">Technologies</p>

            <div class="text-container">

                <h2>Skill Set</h2>
                <p>A short introduction of your skills. Highlight your experience of using different front-end technologies and emphasize your openness to learning and adapting to new technologies. Show how important it is for you to keep up with the rapid changes in web development.</p>
                <p><b>You need another skill?</b></p>
                <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
                <button>Let's Talk</button>


            </div>
        </div>

        <div class="picture-container">
            <div class="skills-icons">
                <div *ngFor="let skill of skills" class="skills">
                    <img [src]="skill.icon" [alt]="skill.name" />
                    <p>{{ skill.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
