<div class="privacy-policy-wrapper --text-color  container-text">

    <div class="privacy-policy-content">
        <h1>{{ "privacyPolicy.title" | translate }}</h1>
        
        <p><strong>{{ "privacyPolicy.informationCollect" | translate }}</strong></p>
        <p>
            {{ "privacyPolicy.informationText" | translate }}
        </p>

        <p><strong>{{ "privacyPolicy.purposeCollect" | translate }}</strong></p>
        <p>
            {{ "privacyPolicy.purposeText" | translate }}
        </p>

        <p><strong>{{ "privacyPolicy.dataSharing" | translate }}</strong></p>
        <p>
            {{ "privacyPolicy.dataSharingText" | translate }}
        </p>

        <p><strong>{{ "privacyPolicy.dataStorage" | translate }}</strong></p>
        <p>
            {{ "privacyPolicy.dataStorageText" | translate }}
        </p>

        <p><strong>{{ "privacyPolicy.yourRights" | translate }}</strong></p>
        <p>
            {{ "privacyPolicy.yourRightsText" | translate }}
        </p>

        <p><strong>{{ "privacyPolicy.contact" | translate }}</strong></p>
        <p>
            {{ "privacyPolicy.contactText" | translate }}<br>
            E-Mail: contact&#64;matthias-e-portfolio.com
        </p>
    </div>
</div>
