<div class="legal-notice-wrapper --text-color container-text">
  <div class="impressum-content">
    <h1>{{ "legalNotice.title" | translate }}</h1>
    <p><strong>Information according to § 5 TMG</strong></p>
    <p>
      Matthias Eickenhorst<br />
      Petersburger Str. 29<br />
      10249 Berlin<br />
      Germany
    </p>
    <p>
      <strong>{{ "legalNotice.contact" | translate }}</strong>
    </p>
    <p>
      {{ "legalNotice.phone" | translate }}: 0176 712 335 81<br />
      {{ "legalNotice.email" | translate }}:
      contact&#64;matthias-e-portfolio.com
    </p>
    <p>
      <strong>{{ "legalNotice.responsible" | translate }}</strong>
    </p>
    <p>
      Matthias Eickenhorst<br />
      Petersburger Str. 29<br />
      10249 Berlin
    </p>
    <p>
      <strong>{{ "legalNotice.disclaimer" | translate }}</strong>
    </p>
    <p>
      {{ "legalNotice.disclaimerText" | translate }}
    </p>
  </div>
</div>
