<div class="legal-notice-wrapper">

    <div class="impressum-content">
        <h1>Legal Notice</h1>
        <p><strong>Information according to § 5 TMG</strong></p>
        <p>
            Matthias Eickenhorst<br>
            Petersburger Str. 29<br>
            10249 Berlin<br>
            Germany
        </p>
        <p><strong>Contact</strong></p>
        <p>
            Phone: 05773/8170<br>
            E-Mail: m.hrst94&#64;gmail.com
        </p>
        <p><strong>Responsible for content according to § 55 Abs. 2 RStV</strong></p>
        <p>
            Matthias Eickenhorst<br>
            Petersburger Str. 29<br>
            10249 Berlin
        </p>
        <p><strong>Disclaimer</strong></p>
        <p>
            Despite careful content control, we assume no liability for the content of external links. The operators of the linked pages are solely responsible for their content.
        </p>
    </div>
</div>