/* You can add global styles to /* Apply global styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color-black);
    margin: 0;
    box-sizing: border-box;
    
}


:root {

    /*CSS variables for colors */
    --primary-color: #3DCFB6;
    --secondary-color: #2ecc71;
    --background-color-black: #1C1C1C;
    --background-color-green: #08463B;
    --text-color: #ecf0f1;
    --accent-color: #e74c3c;
    --background-color-green-containers: #3DCFB61A;

    /*CSS variables for fonts */

    --font-size-small: 0.875rem; /* 14px */
    --font-size-text: 1rem; /* 16px */
    --font-size-text-large: 1.25rem; /* 20px */
    --font-size-text-xlarge: 1.5rem; /* 24px */
    --font-size-h2: 4rem; /* 64px */
    --font-size-h1: 8rem; /* 128px */

    /*CSS variables for font-weight */
    --font-weight-light:400;
    --font-weight-normal:700;

    
}

.d-none {
    display: none;
}


a {

    text-decoration: none;
 
}

.no-scroll {
    overflow: hidden;
    height: 100%; 
}


.--primary-color {
    color: var(--primary-color) !important;
}


.container-headers {
    font-weight: var(--font-weight-normal);
    font-size: var( --font-size-text-xlarge);

}

.container-headers-inside {

    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-normal);
    
}

.container-text-small {

    font-weight: var(--font-weight-light);
    font-size: var(--font-size-text);
    color:var(--text-color);
    line-height: 120%;
}

.container-text {

    font-weight: var(--font-weight-light);
    font-size: var(--font-size-text-large);
    color:var(--text-color);
    line-height: 120%;
}

.container-text-large {

    font-weight: var(--font-weight-normal);
    font-size: var( --font-size-text-xlarge);
    color:var(--text-color);
}


.main-btns {
    color: var(--text-color);
    background-color: transparent;
    font-size: var(--font-size-text-large);
    border: 1px solid var(--primary-color);
    padding: 16px 32px;
    border-radius: 24px;
    cursor: pointer;
    overflow: hidden; 
    transition: background-color 0.3s ease, color 0.3s ease;

    a {
        color: var(--text-color);

    }
    span {
        display: inline-block;
        transition: transform 3s ease-out; 
    }

    &:hover span {
        transform: translateX(-140%); 
    }

    &:hover {
        background-color: var(--button-hover-background-color); 
    }

    &:not(:hover) span {
        transition: transform 3s ease-out; 
    }
}




